

.layout-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.layout-column-first, .layout-column-second  {
  flex: 0 1 100%;
}

@media screen and (min-width: 40em) {

.layout-wrapper {
  display: flex;
}

.layout-column {
  padding: 1rem;
}

.layout-column-first {
  flex: 0 1 60%;
}

.layout-column-second {
  flex: 0 1 40%;
}
}